body{
    margin: 0px;
    padding: 0px;
    /* DEFININDO QUE BODY NÃO VAI TER MARGEM NEM PREENCHIMENTO */
}

@font-face{
    /* FONT-FACE É UMA FUNÇÃO QUE PERMITE USAR FONTE EXTERNAS NOS SITES, INFORMANDO AO NAVEGADOR O LUGAR AONDE
    O ARQUIVO SE ENCONTRA. PODENDO SER LOCAL OU EM DETERMINADO ENDEREÇO WEB, INFORMADO NO CSS  */
    font-family: Star Jedi Hollow;
    /* FONT-FAMILY VAI DEFINIR A FAMILIA (TIPO) DA FONTE; */
    src: url('Starjhol.ttf');
    /* SRC: URL('') IMPORTANDO O ARQUIVO DO TIPO DA FONTE COM A SUA EXTENSÃO. PARA ASSIM PODER SER BAIXADO, 
    INSTALADO E POR FIM SER EXIBIDO NA TELA DO USUARIO. */
}

p#star{
    font-family: Star Jedi Hollow;
    /* FONT-FAMILY VAI DEFINIR A FAMILIA (TIPO) DA FONTE; */
    /* font-style: ;
    FONT-STYLE VAI DEFINIR O ESTILO DA FONTE (ITALICO, NORMAL, OBLIQUA); */
    color: #00ff00; 
    /* COLOR VAI DEFINIR A COR DA FONTE */
    
}

p#esquerda{
    margin-top: 0px; 
    margin-bottom: 100px;
    /* DEFININDO A DISTANCIA DE 100px DE UM PARAGRAFO PARA O OUTRO */
    text-align: left;
    /* ALINHANDO O TEXTO A DIREITA */
    background-color: #ffdddd;
    font-weight: bold;
    /* FONT-WEIGHT DEFINE A ESPESSURA DA FONTE (GROSSO OU FINO; NEGRITO) PODE SER DEFINIDO EM NUMEROS */
    color: #ff0000;

}

p#direita{
    text-align: right;
    background-color: #ddffdd;
    font-style: italic;
    /* TEXT-ALIGN PERMITE ALINHAR O TEXTO DE TRÊS FORMAS: CENTRALIZADO, JUSTIFICADO E ALINHADO A ESQUERDA OU DIREITA */
}

p#centralizado{
    width: 500px;
    text-align: center;
    background-color: #ddddff;
    /* TEXT-ALIGN PERMITE ALINHAR O TEXTO DE TRÊS FORMAS: CENTRALIZADO, JUSTIFICADO E ALINHADO A ESQUERDA OU DIREITA */
}

p#justificado{
    text-align: justify;
    background-color: #ffffdd;
    /* TEXT-ALIGN PERMITE ALINHAR O TEXTO DE TRÊS FORMAS: CENTRALIZADO, JUSTIFICADO E ALINHADO A ESQUERDA OU DIREITA */
}

.parteSublinhada{
    text-decoration: underline;
    /* UTILIZANDO SPAN PARA DEIXAR APENAS PARTE DO TEXTO COM DECORAÇÃO SUBLINHADA */
}

.textoMenor{
    font-size: small;
    /* FONTE-SIZE PERMITE DEFINIR O TAMANHO DA FONTE. PODE SER ATRAVÉS DE COMANDO PRÉ-DEFINIDOS OU PIXEL. */
}

.textoNormal{
    font-size: medium;
    /* DEFININDO O TAMANHO DA FONTE COMO MÉDIO */
}

.textoMaior{
    font-size: large;
    /* DEFININDO O TAMANHO DA FONTE COMO GRANDE */
}

a:link{
    /* A:LINK VAI DEFINIR O ESTILO DE UM LINK AINDA NÃO VISITADO; */
    color: #ff0000;
    text-decoration: none;
    /* PROPRIEDADE NONE REMOVE O SUBLINHADO DE TEXTO QUE JÁ POSSUEM ESSES EFEITOS (LINKS) */ 
    font-weight: bold;
}

a:visited{
    /* A:VISITED VAI DEFINIR O ESTILO DE UM LINK JÁ VISITADO; */
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    /* A:HOVER VAI DEFINIR O ESTILO DO LINK QUANDO O CURSOR DO MOUSE PASSAR SOBRE ELE; */
    color: #ff0000;
    text-decoration: underline;
    font-weight: bold;
}

a:active{
    /* A:ACTIVE VAI DEFINIR O ESTILO DO LINK QUANDO ESTIVER SENDO CLICADO (SEGURADO); */
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}














