.paragrafoGrandeVermelho{
    font-size: 40px;
    color: #ff0000;
    font-style: normal; /* DEFININDO O ESTILO DA FONTE (ITALICO, OBLIQUA, NORMAL); */
}

.fundoVermelho{
    background-color: #ff0000;
    /* color: #00ff00; */
}

.corBranca{
    color: #ffffff;
}

p{
    font-style: italic;
    /* APLICANDO EM TODAS AS TAGS P DO CODIGO;
    FONT-STYLE VAI DEFINIR O ESTILO QUE AS PALAVRAS VÃO FICAR (ITALICO, OBLIQUA); */  
}

#rodape{
    font-size: 30px;
    background-color: #ffdddd;
    /* QUALQUER ELEMENTO HTML QUE FAÇA USO DO ID #rodape VAI SER ALTERADO COM OS ELEMENTOS CSS QUE FORAM DEFINIDOS */
}

p#rodape{
    /* font-size: 30px; */
    background-color: #ff3333;
    /* TODOS OS ELEMENTOS HTML DO TIPO P QUE TEM O ID #rodape VÃO RECEBER OS ELEMENTOS CSS QUE FORAM DEFINIDOS */
}

p#dicaDoAndre{
    /* font-size: 30px; */
    background-color: #0000ff;
}

th.paragrafoGrandeVermelho{
    font-size: 80px;
    /* ESTA HERDANDO OS ESTILOS DEFINIDOS NO ELEMENTO CSS, ALTERANDO APENAS O TAMANHO DA FONTE */
}

/* AS TAGS HTML TEM A APLICAÇÃO DAS PROPRIEDADES CSS PRIMEIRO QUE OS ELEMENTOS QUE CRIAMOS NO CSS (.fundoVermelho) */
/* 27:31; */



