div#painelA{
    width: 600px;
    height: 500px;
    background-color: #ffdddd;
}

.flutuarEsquerda{
    float: left;
    /* FAZ O ELEMENTO SELECIONADO FLUTUAR À ESQUERDA */
    margin-right: 15px;
    /* PREENCHIMENTO DA MARGIN À DIREITA */
}

.flutuarDireita{
    float: right;
    /* FAZ O ELEMENTO SELECIONADO FLUTUAR À DIREITA */
    margin-left: 15px;
}

div#painelB{
    width: 600px;
    height: 500px;
    background-color: #ddddff;
    
    position: absolute;
    left: 630px;
    top: 15px;
}

.estiloExibicao{
    display: initial; /* inline, block, none */
    /* VAI DEFINIR O COMPORTAMENTO DE EXIBIÇÃO DE UM ELEMENTO, DEPENDENDO DO VALOR */
}











