.imagemCentral{
    position: absolute; 
    left: 50%;
    /*right: 0px;*/
    top: 50%;
    /* bottom: 0px; */
    margin-left: -86px;
    margin-top: -79px;
}

.painelCentral{
    background-color: #ff0000;
    width: 400px;
    height: 250px;
    
    position: absolute;
    left: 70%;
    top: 50%;
    
    margin-left: -200px;
    margin-top: -125px;
}

